.container{
 display: flex;
 flex-direction: row;
 justify-content: center;
 gap: 20px;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsl(183, 100%, 15%);
    padding: 20px;
    color: white;
    gap: 40px;
}

.tipInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#resetBtn{
    width: auto;
    background-color: hsl(185, 41%, 84%);
    font-weight: 700;
}

.tipGrid{
    display: grid;
    grid-template-columns: auto auto auto;
}